/*.xls
/.project
/.classpath
/target/
/out/
/src/main/resources/*.java
/.settings/
/bin/
/savedrois.bak
/gel-lanes-fit/
*.DS_Store
/.checksums
/Contents/
/ImageJ-win64.exe
/WELCOME.md
/db.xml.gz
/images/
/jars/
/plugins/
/scripts/
/update/
